<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost\SQLSERVER2008;user=gd;password=gd2015;database=GD1C2015" />
    <add key="Fecha" value="01/01/2017" />
    <add key="PorcentajeTipoGratis" value="0.1" />
    <add key="PorcentajeTipoBronce" value="0.08" />
    <add key="PorcentajeTipoPlata" value="0.05" />
    <add key="PorcentajeTipoOro" value="0.02" />
  </appSettings>
</configuration>